#grad {
  background-image: linear-gradient(to bottom right, rgb(0, 255, 128), rgb(24, 194, 216));
}

.website {
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  margin-left: 8px;
  margin-top: 10px;
}

.intropara {
  font-size: larger;
}

.creaters {
  font-size: large;
}

.introduction {
  background-color: white;
  color: black;
  margin-left: 40px;
}

.description {
  color: black;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 40px;
  font-size: large;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: rgb(28, 205, 270);
}
.topnav a.active {
  background-color: rgb(6, 84, 112);
  color: white;
}